body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, black, rgb(50, 49, 49));
}
.container{
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: 1fr 1fr; 
    gap: 10px;
}
.child{
    background-color: chartreuse;
    border-radius: 10px;
}