.container{
    width: 400px;
    height: 400px;
    background-color: black;
    position: relative;
}
.chld{
    width: 400px;
    background-color: aliceblue;
    height: 400px;
    border-radius: 50%;
    position: absolute;
}
.ch{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    left: 150px;
    top: 140px;
}
.cont{
    width: 300px;
    height: 300px;
    display: flex;
}
.chld1{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
}
.chld2{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
}
.white{
    clip-path: inset(0 0 0 50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    left: 108px;
}
.black{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    clip-path: inset(0 50% 0 0);
    position: absolute;
    left: 109px;
    top: 100px;
}
.nn{
    background-color: chartreuse;
}
.contt{
    background-color: black;
    width: 400px;
    height: 400px;
    display: flex;
}
.height{
    height: 300px;
    width: 3px;
    background-color: aliceblue;
    position: absolute;
    left: 99px;
    top:50px;
}
.width{
    height: 3px;
    width: 300px;
    position: absolute;
    left: 50px;
    top:90px;
    background-color: aliceblue;
}
.disc{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    justify-items: center;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 100px;
}
.conteinerr{
    width: 400px;
    height: 600px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contei{
    width: 200px;
    height: 200px;
}
#contei1{
    background-color: rgb(255, 145, 0);
    position: absolute;
    top: 170px;
    border-radius: 50%;
}
#contei2{
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 290px;
    border-radius: 50%;
}
#contei3{
    position: absolute;
    border-radius: 50%;
    top:270px;
    background-color: blanchedalmond;
    height: 120px;
    width: 160px;
}
.chldred{
    width: 70px;
    height: 70px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    left: 45px;
    top:25px;
}
.bluec{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top:15px;
}