body{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
div{
    margin-top: 80px;
    width: 300px;
    height: 300px;
    border-radius: 14px;
    transition: 0.5s;

}
.container1{
    background-color: chartreuse;
    transition: 0.5s;

}
.container1:hover{
    transform: scale(1.1) rotate(90deg) translate(0px, 50px);
}
.container2:hover{
    transform: scale(0.5) rotate(120deg) translate(10px, 20px);
}
.container3:hover{
    transform: scale(1.1) rotate(90deg) translate(0px, -150px);
}
.container4:hover{
    transform: scale(0.6) rotate(180deg) translate(20px, 150px);
}
.container5:hover{
    transform: scale(0.7) rotate(100deg) translate(10px, -50px);
}
.container2{
    background-color: rgb(176, 0, 0);
}
.container3{
    background-color: rgb(0, 255, 251);
}
.container4{
    background-color: rgb(8, 0, 255);
}
.container5{
    background-color: rgb(255, 255, 0);
}