body{
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
    background: linear-gradient(135deg, #9D00FF, #FF0077);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cont{
    width: 400px;
    height: 70px;
    background: linear-gradient(135deg, #0084FF, #FF0000);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
    border-bottom: 2px solid rgba(0, 0, 0, 0) ;
}
.cont a:hover{
    border-bottom: 2px solid rgb(15, 5, 104) ;
}