body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.div{
    margin-top: 80px;
    width: 300px;
    height: 300px;
    border-radius: 14px;
    transition: translate 3s, background 3;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 20px black;
}
.div:hover{
    transform: translateX(-100px);
    background-color: blueviolet;
}
.conte{
    margin-top: 80px;
    width: 300px;
    height: 300px;
    border-radius: 14px;
    transition: transform 1s, background 2s, rotate 3s;
    background-color: rgb(0, 187, 255);
    box-shadow: 0px 0px 20px black;
}
.conte:hover{
    transform: translate(0px, 200px) rotate(120deg);
    background-color: rgb(132, 0, 255);
}