body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.918);
}
.header img{
    width: 140px;
    transform: translateX(-100px);
}
header{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    position: sticky;
    top: 3px;
    background-color: rgb(0, 0, 0);
}
.nav a{
    margin: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
nav{
    margin-top: 40px;
    transform: translateX(-30px);
}
.nav a:hover{
    color: brown;
}
.main-n{
    position: absolute;
    left: 100px;
    top: 180px;
}
main{
    height: 900px;
}
.main-intro{
    background-image: url("https://yanisclub.ru/wp-content/uploads/2020/12/muscular-topless-fighter-boxing-gloves-scaled.jpg");
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    justify-content: center;
    align-items: center;
    background-color:rgb(241, 241, 241);
    text-align: center;
}
.main-intro h2{
    transform: translateY(-5px);
    font-size: 30px;
    color: rgb(255, 0, 0);
}
.main-intro h1{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chartreuse;
    transform: translateY(-20px);
}
.main-intro p{
    color: rgb(255, 255, 255);
    transform: translateY(-35px);
}
.main-intro a{
    text-decoration: none;
    color: antiquewhite;
}

.main-footer {
    background-color: #000000;
    padding: 50px 20px;
    color: #ffffff;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
}

.footer-column {
    margin-left: 40px;
    min-width: 200px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #d80000;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
}

.footer-column ul li:hover {
    text-decoration: underline;
    color: #d80000;
}

footer p {
    text-align: center;
    transform: translateY(10px);
}

.footer-column img {
    width: 17px;
}
li a{
    color: aliceblue;
}
footer{
    margin-top: 1200px;
}
.picture img{
    width: 500px;
    height: 300px;
    border-radius: 19px;
}
.picture{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.Goa h1{
    text-align: center;
    margin: 50px;
    color: chartreuse;
}
.cont h1{
    display: inline;
}
.cont{
    text-align: center;
    margin-top: 35px;
}
.contt img{
    width: 400px;
    border-radius: 19px;
}
.contt{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}