/* 
bacground-img კუთვნილების საშუალებით საიტის უკანა ფონად ვაყენებთ ფოტოს.

background-repeat კუთვნილების საშუალებით შეგვიძლია მივუთითოთ background ზე სურათები ბევჯერ იყოს გამეორებული თუ მხოლოდ ერთხელ. 

bacground-position კუთვნილების საშუალებით შეგვიძლია სასურველ ადგილას დავსვათ bacground-ის ფოტო(px, %, სიტყვიერათ)

bacground-size კუთვნილების საშუალებით ვაკონტროლებთ უკანა ფონის ფოტოს ზომას
cover -ფოტოს ზომის მიუხედავად დაფარავს მთლიან bacground-ს  
contain - ფოტო შეითავსებს საკუთარ ზომას*/

/* 
background-size: cover; უფრო პრაქტიკულია მაშინ, როცა გვინდა,
რომ ფონი მთლიანად დაფაროს ელემენტი — მიუხედავად ზომის ან პროპორციების განსხვავებისა.
ის ავტომატურად ადაპტირდება და ავსებს მთელ სივრცეს ისე, რომ არ დარჩეს ცარიელი ადგილი,
თუმცა შესაძლოა სურათის ნაწილი მოიჭრას.

background-size: contain; კი უფრო გამოდგება მაშინ, როცა მნიშვნელოვანია
სურათი სრულად გამოჩნდეს ჩარჩოში. ის ზომას ისე ცვლის, რომ ყველაფერი ჩანდეს,
მაგრამ შეიძლება დარჩეს ცარიელი სივრცე გვერდებზე ან ზემოთ/ქვემოთ.

ამიტომ პრაქტიკულობის თვალსაზრისით, 
background-size: cover; უფრო ხშირად გამოიყენება, ის უკეთ გამოიყურება responsive დიზაინებში და იძლევა ვიზუალურად სრულფასოვან ფონის ეფექტს.
*/

body{
    background-image: url("https://images.pexels.com/photos/1530259/pexels-photo-1530259.jpeg");
    background-size: contain;
    background-repeat: repeat-x;
}