/* position property

relative - ვიყენებთ მაშინ როდესაც ელემენტი გვინდა ვამოძრაოთ მარცხნივ, მარჯვნივ, ქვევით, ზევით ამისთვის საჭიროა დამატებით ფროფერთი right, left, top, bottom. როდესაც ელემენტები გვაქვს მოცემული ჩვენს კონტეინერაბდე ელემენტების ქვევიდან იწყება ათვლა პიქსელების

absolute - ვიყენებთ ელემენტის სამოძრავებლად მაგრამ სხვანაირი პირობით ათვლას იწყებს ეკრანის ზევიდან რაცარუნდა ელემენტები გვქონდეს მანამდე და შეიძლება ელემენტსაც გადაეფაროს
 */