/* position: fixed; იძლევა ელემენტს შესაძლო მდებარეობას აბსოლუტურად გადაჭიმულ სარკმელში. ამ დროს, ელემენტი მდებარეობს ფიქსირებულ ადგილას ბრაუზერის ფანჯრის მიმართ და გადის დამოუკიდებლად სხვებისგან, რადგან ის ყოველთვის ინარჩუნებს თავის ადგილმდებარეობას, მიუხედავად იმისა, რამდენად ავსქროლავთ გვერდს. ეს ელემენტი არ გაივლის გვერდის შიგნით მდებარე სხვა ელემენტებს, და მისი ადგილი არ იცვლება სკროლირებისას. 

position: sticky; არის შერეული პოზიციონირება, რომელიც აერთიანებს relative და fixed პროპერტებს. ელემენტი ინარჩუნებს თავის ბუნებრივ ადგილს, ვიდრე მომხმარებელი არ შეასრულებს სკროლს და მისთვის განსაზღვრული მტკიცე პოსიცია არ იქნას მიღწეული. როცა სკროლირება ხდება და ელემენტი მიდის მისთანავე განსაზღვრულ წერტილამდე, ის ხდება "sticky" და რჩება გამოჩენილი.

- ორივე იმყოფება ფიქსირებულ ადგილას, მიუხედავად გვერდის სკროლირებისა.
- ორივე პოზიციონირება იძლევა ელემენტის დასამყარებლად კონკრეტულ ადგილას ეკრანზე.*/
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.header img{
    width: 100px;
    transform: translateX(-100px);
}
header{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px black;
    position: sticky;
    top: 1px;
    background-color: white;
}
.nav a{
    margin: 30px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
nav{
    margin-top: 40px;
    transform: translateX(-30px);
}
.nav a:hover{
    color: brown;
}
h1{
    text-align: center;
    color: red;
}
.container img{
    width: 400px;
    height: 300px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
footer{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.471);
}
footer p{
    color: aliceblue;
    text-align: center;
    transform: translateY(150px);
}
.footer{
    color: aliceblue;
    list-style: none;
    margin: 5px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    text-align: center;
}