@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: "Red Hat Display", sans-serif;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
}
p{
    max-width: 300px;
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    margin-top: 10px;
}
.cont{
    background-color: hsl(0, 0%, 100%);
    width: 375px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 14px;
}
.conte{
    display: flex;
}
.conte img{
    width: 40px;
}
.photo{
    width: 340px;
    border-radius: 14px;
    margin-left: 17.5px;
    margin-top: 17.5px;
}
.h2{
    margin-top: 10px;
    background-color: hsl(47, 88%, 63%);
    width: 105px;
    margin-left: 17.5px;
    font-size: 20px;
    padding-left: 12.5px;
}
.p{
    margin-left: 17.5px;
    transform: translateY(-4px);
}
.h1{
    margin-left: 17.5px;
}
.p2{
    margin-left: 17.5px;
    transform: translateY(-2px);
}
.conte{
    margin-left: 17.5px;
    margin-top: 10px;
}
.conte h2{
    font-size: 20px;
    transform: translate(10px, 7px);
}
h1{
    margin-top: 2px;
    font-size: 27px;
    font-family: 900;
}