@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    min-height: 100vh;
}
img{
    width: 250px;
    border-radius: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 280px;
    height: 440px;
    border-radius: 10px;
}
h1{
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}
p{
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
}