*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    transition: 1s;
}
button{
    width: 125px;
    height: 39px;
    border: none;
    border-radius: 9px;
    margin-top: 5px;
    letter-spacing: 1px;
}