/* border-radius-ს შეგვიძლია გადავცეთ 1 ან 4 მნიშვნელობა.
• თუ გადავცემთ ერთ მნიშვნელობას, ელემენტის ოთხივე გვერდი ერთ ზომაზე გაისტილება.
• თუ გადავცემთ ოთხ მნიშვნელობას, ელემენტის ოთხ გვერდს თანმიმდევრობით მიენიჭება გაწერილი ზომები.

attribute selector-ის საშუალებით ჩვენ შეგვიძლია მივწვდეთ სხვადასხვა ტიპის Input ელემენტებს.
*/
div {
    height: 300px;
    width: 300px;
    background-color: rgb(6, 89, 89);
    border-radius: 50px 24px 50px 24px; /* მარცხნივ ზევით 50 პიქსელი მარჯვნივ ზევით 24 პიქსელი მარჯვნივ ქვევით 50 პიქსელი მარცნივ ქვევით 24 პიქსელი*/
}