/* border radius კუთვნილება ნიშნავს რაიმე ელემენტის ან კონტეინერის გვერდების მომრგვალებას მას გადაეცემა 1 დან 4 ის ჩათვლით მნიშვნელობა */
div {
    height: 300px;
    width: 300px;
    background-color: rgb(6, 89, 89);
    border-radius: 50px 24px 50px 24px; /* მარცხნივ ზევით 50 პიქსელი მარჯვნივ ზევით 24 პიქსელი მარჯვნივ ქვევით 50 პიქსელი მარცნივ ქვევით 24 პიქსელი*/
}