body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, black, rgb(50, 49, 49));
}
.all{
    width: 280px;
    height: 200px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.child{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnt{
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-15px, 15px);
    animation: move 3s infinite ease-in-out;
}
@keyframes move{
    0%{
        transform: translate(-15px, 15px);
    }
    25%{
        transform: translate(8px, -18px);
    }
    50%{
        transform: translate(15px, 15px);
    }
    75%{
        transform: translate(-15px, 15px);
    }
    100%{
        transform: translate(-15px, 15px);
    }
}