/* animation @keyframes ის საშუალებით შეგვიძლია ელემენტს სხვადასხვა მდგომარეობაში სხვადასხვა ფორმა მივანიჭოთ

animation-name - ანიმაციის სახელი
animation-duration - ხანგრძლივობას ვანიჭებთ ელემენტს
animation-timing-function: რა სტილით შესრულდება ელემენტის სიჩქარე;
animation-delay: აყოვნებს ელემენტის  სიჩქარეს. */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#box{
    width: 100px;
    height: 100px;
    border: 8px solid blue;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: box;
    animation-duration: 1s;

}

@keyframes box {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}