body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://t3.ftcdn.net/jpg/08/68/51/04/360_F_868510427_vsvN67LV1zSmLMyXMOFG05tRCmTAj1xL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 120%;
}
#container {
    text-align: center;
    margin: 0px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("https://img.lovepik.com/background/20211021/large/lovepik-blue-science-and-technology-background-image_500540546.jpg");
    height: 389px;
    width: 300px;
    box-shadow: 5px 5px 10px;
    border-radius: 100px 15px 100px 15px;
    transform: translateY(100px);
}
#box-container {
    transform: translateY(25px);
    display: grid;
    
}
#box-interier #submit {
    color: rgb(236, 114, 7);
    border-radius: 14px;
    margin: 0px auto;
    width: 100px;
    height: 30px;
    transition: 1s;
    background-color: rgb(13, 0, 255);
    border: none;
}
#box-interier #submit:hover {
    transition: 2s;
    background-color: chartreuse;
    border: none;
}
input {
    color: rgb(255, 255, 255);
    border: none;
    height: 25px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 16px;
    transform: 2s;

}
input:hover {
    color: rgb(29, 235, 11);
    transition: 0.8s;
    box-shadow: 1px 1px 10px chartreuse;
}
#box-header h1{
    color: antiquewhite;
    box-shadow: 1px 1px 5px;
}
#box-header {
    width: 150px;
    margin: 0px auto;
}
#box-interier label{
    color: rgb(204, 202, 200);
}
#checkbox {
    transform: translateY(6.5px);
}
#box-a a {
    text-decoration: none;
    color: rgba(246, 246, 246, 0.918);
    transform: 1s;
}
#box-a a:hover{
    transition: 1s;
    text-decoration: underline red;
}
#box-a p{
    color: aliceblue;
}