/* transform - ელემენტს უცვლის ფორმას,  ადგილმდებარეობას და ა.შ.
transform - ის მნიშვნელობები:
translate - ელემენტის ადგილმდებარეობის შეცვლა. 2 არგუმენტი:
1. ჰორიზონტალურ   მდებარეობას. (დადებითი -> right, უარყოფითი -> left)
2. ვერტიკალურ  მდებარეობას . (დადებითი -> bottom, უარყოფითი -> up)

scale - ცვლის ელემენტის ზომას ამცირებს ან ადიდებს.
1 - default მნიშვნელობა. თუ value > 1 ზომაში გაიზრდება თუ value < 1 დაპარავდება.

rotate - ის საშუალებით ელემენტი შეგვიძლია ვაბრუნოთ საათის ისრის მიმართულებით ან პირიქით თუ დადებით მნიშვნელობას მივუთითებთ საათის ისრის მიმართულებით იბრუნებს უარყოფითი კი პირიქით. აუცილებლათ ვწერთ გრადუსებში (- deg)*/
body{
    display: flex;
    justify-content: center;
}
.cont{
    width: 350px;
    height: 350px;
    background-color: brown;
}
.cont:hover{
    transform: rotate(45deg);
}
img{
    width: 100px;
    height: 100px;
}
img:active{
    transform: rotate(-90deg) scale(2.0) translate(-150px,180px);
}