#parent{
    background: gray;
    width: 305px;
    height: 305px;
    position: relative;
}

.child{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#child1{
    background: rgb(255, 0, 0);
}

#child2{
    background: rgb(21, 0, 255);
    left: 201px;
    position: relative;
    top: -100px;
}

#child3{
    background: rgb(17, 255, 0);
    position: relative;
}
#child4{
    background: rgb(200, 255, 0);
    position: relative;
    bottom: 102px;
    left: 200px;
}
img{
    position: absolute;
    width: 500px;
}
p{
    position: absolute;
    top: 210px;
    left: 30px;
    color: aliceblue;
}