*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00272c;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-bottom: 40px;
    height: 610px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 14px;
}
img{
    height: 300px;
    width: 200px;
}
.main-products{
    display: flex;
    margin: 80px;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#pbtn, #rbtn{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
#div1{
    margin-top: 30px;
    max-width: 195px;
    text-align: center;
}
#div2{
    margin-bottom: 30px;
}
#div2 button{
    margin-top: 10px;
    background-color: #123342;
    color: whitesmoke;
}
#pp{
    color: green;
}
.kalata{
    background-image: url(./Untitled\ design.png);
    background-size: contain;
    height: 40px;
    width: 60px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    border-radius: 14px;
    position: fixed;
    right: 0%;
    display: flex;
    box-shadow: 0px 0px 1px 5px rgb(26, 5, 80);
    align-items: end;
    transition: 0.3s;
}
.kalata:hover{
    box-shadow:0px 0px 1px 5px rgb(26, 50, 80) ;
}
.kalata p{
    color: red;
    font-weight: 700;
    font-size: 19px;
    transform: translateX(35px);
}
.res {
    position: fixed;
    width: 90%;
    height: 85vh;
    background: #e1ff51;
    top: 7.5%;
    left: 5%;
    border-radius: 40px;
    flex-direction:  column;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    gap: 30px;
}
@keyframes flexres {
    0%{
        opacity: 0;
    }
}
@keyframes none1 {
    0%{
        opacity: 1;
    }
}

.res::-webkit-scrollbar{
    display: none;
}


.res1{
    width: 100%;
    min-height: 840px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    height: auto;
    justify-content: center;
    align-items: center;

}
.res2{
    position: fixed;
    min-height: 100px;
    background-color: #3b3a60;
    width: 90%;
    top: 7.5;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 35px;
}
.res2 p{
    display: inline;
    color: whitesmoke;
    margin-left: 50px;
    margin-right: 50px;
}
.res2 button{
    width: 180px;
    letter-spacing: 1.3px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #00272c;
    color: whitesmoke;
}