img{
    width: 300px;
    height: 300px;
    position: relative;
    left: 600px;
    top: 200px;
}
.cont1{
    width: 10px;
    height: 300px;
    background-color: black;
    position: relative;
    left: 591px;
    bottom: 104px;
}
.cont2{
    width: 10px;
    height: 300px;
    background-color: black;
    position: relative;
    left: 891px;
    bottom: 404px;
}
.cont3{
    width: 300px;
    height: 10px;
    background-color: black;
    position: relative;
    left: 591px;
    bottom: 704px;
}
.cont4{
    width: 300px;
    height: 10px;
    background-color: black;
    position: relative;
    left: 601px;
    bottom: 424px;
}