.conteiner{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}
.child{
    position: absolute;
    top: 20px; 
    width: 40px;
    height: 40px;
    left: 30px;
    background-color: black;
}