.conteiner{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    position: relative;
}
.child1{
    left: 50px;
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
}
.child2{
    top: 150px;
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
}
.child3{
    right: 1px;
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
}