/* animation @keyframes ის საშუალებით შეგვიძლია ელემენტს სხვადასხვა მდგომარეობაში სხვადასხვა ფორმა მივანიჭოთ

animation-name - ანიმაციის სახელი
animation-duration - ხანგრძლივობას ვანიჭებთ ელემენტს
animation-timing-function: რა სტილით შესრულდება ელემენტის სიჩქარე;
animation-delay: აყოვნებს ელემენტის  სიჩქარეს. */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e1e2f, #3a3a7a);
}
.cont{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: burlywood;
    animation-duration: 1s;
    animation-name: translate;
    animation-iteration-count: infinite;
}

@keyframes translate{
    0%{
        transform: translateX(-150px)
    }
    100%{
        transform: translateX(150px)
    }
}